<!doctype html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      
      <title>
         {{ .Site.Title }} | {{ if .Page.Title }}{{ .Page.Title }}{{ end }}
      </title>
      
      <link rel="shortcut icon" type="image/x-icon" href='{{ "assets/img/personal-info/parson-img-1.jpeg" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/bootstrap.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/animate.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/fontawesome.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/all.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/odometer.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/jquery.modal.min.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/meanmenu.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/swipper.css" | relURL }}'>
      <link rel="stylesheet" href='{{ "assets/css/main.css" | relURL }}'>

   </head>

   <body>
      <!-- data-background="/assets/img/bg/page-bg-1.jpg" -->
      <div class="page-wrapper home-1" style="background-color: #c6c6c630">
      
         {{ partial "header.html" . }}
         {{ block "main" . }}
         {{ end }}

      </div>

      <script src='{{ "assets/js/jquery.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/bootstrap.bundle.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/swipper-bundle.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/jquery.meanmenu.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/wow.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/isotope.pkgd.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/odometer.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/jquery.modal.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/appear.min.js" | relURL }}'></script>
      <script src='{{ "assets/js/main.js" | relURL }}'></script>
   </body>
</html>
