<!-- main-menu-start -->
<div class="col-xxl-1 d-xxl-block d-none">
  <div class="bostami-main-menu-wrap">
    <nav class="bastami-main-menu main_menu">
      <ul>

        {{ $currentPage := .Page.Params.indentifer | relURL }}
        {{ range .Site.Menus.main_menu }}

        {{ $menuURL := .URL | relURL }}

          <li class="{{ if eq $menuURL $currentPage }} active{{ end }}">
            <a href="{{ .URL | relURL }}">
              <span>
                <i class="fa-light fa-address-card"></i>
              </span>
              {{ .Name }}
            </a>
          </li>
        {{ end }}
        
      </ul>
    </nav>
  </div>
</div>
<!-- main-menu-end -->
